@page "/gettingstarted/installation"
@inject BcssService Bc

<MudContainer>
    <MudText Typo="Typo.h4">Installation</MudText>
    <MudText>Install the NuGet package</MudText>
    <div class="mud-theme-primary">
        <pre><code>
            dotnet add CodeBeam.BCSS <MudListItem Text="@("<script src=\"_content/CodeBeam.BCSS/Bcss.min.js\"></script>")"></MudListItem>
        </code></pre>
    </div>

    <MudText>Add the following to Imports.razor</MudText>
    <StandaloneCodeEditor ConstructionOptions="EditorConstructionOptions" CssClass="@Bc["h-24"]" />

    <MudText>Add the following to Imports.razor</MudText>
    <StandaloneCodeEditor ConstructionOptions="EditorConstructionOptions2" CssClass="@Bc["h-24"]" />

    <MudText>Install the NuGet package</MudText>
    <div class="mud-theme-primary">
        <pre><code>
    using Bcss.Services;
    builder.Services.AddBcss();
        </code></pre>
    </div>

</MudContainer>

@code {
    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
            {
                AutomaticLayout = true,
                Language = "csharp",
                Value = "@using BCSS" + "\n",
                ReadOnly = true,
                Scrollbar = new EditorScrollbarOptions() { VerticalScrollbarSize = 0, VerticalSliderSize = 0 },
                ColumnSelection = false,
                DisableLayerHinting = true,
                FontSize = 16,
                Minimap = new EditorMinimapOptions() { Enabled = false },
                ScrollBeyondLastLine = false,
            };
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions2(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
            {
                AutomaticLayout = true,
                Language = "csharp",
                Value = "<script src=\"_content/CodeBeam.BCSS/Bcss.min.js\"></script>",
                ReadOnly = true,
                Scrollbar = new EditorScrollbarOptions() { VerticalScrollbarSize = 0, VerticalSliderSize = 0 },
                ColumnSelection = false,
                DisableLayerHinting = true,
                FontSize = 16,
                Minimap = new EditorMinimapOptions() { Enabled = false },
                ScrollBeyondLastLine = false,
            };
    }
}
